[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg/
[submodule "boot-files"]
	path = boot-files
	url = https://github.com/sourajitk/boot-files
